/* Location BTN */
#locationbutton{
    position       :fixed;
    bottom         : 90px;
    left          : 0px;
    color          : #170039;
    text-align      : center;
    font-size       : 40px;
    border: none;
    z-index: 100;
}
#loc-span{
    font-size: 20px;
    animation-name: leftToRight;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

/* WhatsApp BTN */
#whatsappbutton{
    position       : fixed;
    bottom         : 40px;
    left           : 5px;
    font-size       : 25px;
    color          : #170039;
    text-align      : center;
    border: none;
    z-index: 100;
}

#wapp-span{
    font-size: 20px;
    animation-name: leftToRight;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}


@keyframes leftToRight {
    0% {
      transform: translateX(-50px);
      color: transparent;
    }
    100% {
      transform: translateX(5px);
    }
  }

