#hero-div{
    width: 100%;
    background-color: #170039;
    display: flex;
}
#header-div{
    width: 50%; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header-div h2{
    width: 70%;
    /* margin: auto; */
}
#headerBTN{
    background-color: #FCC719;
    border-radius: 5px;
    padding: 5px 10px;
    width: 25%;
}
#headerBTN a{
    color: #fff;
    text-decoration: none;
}
#header-video{
    width: 50%;
}
#header-video video{
    width: 70%;
    position: relative;
    left: -10%;
    top: 10%;
}
#header-video img{
    width: 50%;
}
#header-video #img-1{
    position: relative;
    left: 10%;
    top: -25%;
}
#header-video #img-2{
    position: relative;
    left: 30%;
    top: -10%;
}
