@font-face {
    font-family: 'GESSTwoLight-Light';
    src: url("./GESSTwoLight-Light.ttf") format("truetype");
}
#hero-div{
    width: 100%;
    /* background-color: #170039; */
    display: flex;
}
:lang(ar) {
    font-family:  'GESSTwoLight-Light'
}
.bb{
    background-color: rgb(110, 187, 237);
}
#header-div{
    width: 50%; 
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header-div h2{
    width: 70%;
}
#headerBTN{
    /* background-color: #FCC719; */
    border-radius: 5px;
    padding: 5px 10px;
    width: 25%;
}
#headerBTN a{
    /* color: #fff; */
    text-decoration: none;
}
#header-video{
    /* width: 75%; */
    display: flex;
    justify-content: center;
}
#header-video video{
    width: 100%;
    /* position: relative;
    left: -10%;
    top: 10%; */
}
#header-video img{
    width: 50%;
}
#header-video #img-1{
    position: relative;
    left: 10%;
    top: -25%;
}
#header-video #img-2{
    position: relative;
    left: 30%;
    top: -10%;
}

@media only screen and (max-width: 660px) {
    #header-div,#header-video {
        width:100%;
    }
    #hero-div{
        flex-wrap: wrap;
    }
    #header-video video{
        left: -20%;
    }
    #header-video #img-1{
        left: -5%;
    }
    #header-video #img-2{
        left: 20%;
    }

  }

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: auto;
    }
    30% {
      top: 0.2rem;
      width: auto;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: auto;
    }
    62% {
      top: -4.5rem;
      width: auto;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: auto;
    }
    95% {
      top: -9rem;
      width: auto;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;

    }
  }

  #phone{
    justify-items: center !important;
  }
  /* .phone:hover{
    transform: rotate(90deg);
  }
  .phone:hover .phone-img{
    transform: rotate(-90deg);
  } */
  /* Start of phone style */
  .site {
    position: relative;
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-items: center;
    background-color: #89d1bf;
  }
  .site::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .phone {
    --black5: #ffffff;
    --black4: #fffafa;
  
    z-index: 1;
    width: 9rem;
    height: 18rem;
    padding: 0 0.5rem;
    border: 0.25rem solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0.5rem 0.5rem rgba(108, 88, 88, 0.3);
    transition: all 0.3s;
  }
  /* .phone.-loooooong{
    height: 100%;
  } */
  
  .phone_mic {
    height: 0.25rem;
    width: 4rem;
    margin: 1rem auto;
    border-radius: 999rem;
    background-color: black;
  }
  .phone_screen {
    position: relative;
    flex: 1 0 auto;
    background-color: white;
  }
  .phone_screen::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: white; */
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 100%);
  }
  .phone_button {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    border-radius: 50%;
    margin: 1rem auto;
  }
  /* End of phone style  */
  @media only screen and (max-width: 768px) {
    #header-video video{
      display: none;
  }
}