#nav-logo{
    height: 8vh;
}
#navbar{
    margin-bottom: 0!important;
    padding: 0;
    background-color: #170039;
    margin: 0;
}
#navbarScroll{
    background-color: #fff;
    color: #170039;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}
#nav_tabs{
    align-items: center;
    margin-left: 5%;
}
#nav-contactBTN{
    /* align-self: center; */
    background-color: #c8f9ff;
    border-radius: 5%;
    height: 40px;
    /* padding: 5px 10px; */
    color: black;
}

.active{
    color: rgb(255, 128, 255) !important;
}
