#nav-logo{
    height: 10vh;
}
#navbar{
    margin-bottom: 0!important;
    padding: 0;
    background-color: #170039;
    margin: 0;
    /* position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 1; */
}
#nav_tabs{
    align-items: center;
}
#nav-contactBTN{
    align-self: center;
    background-color: #FCC719;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}
