#nav-logo{
    height: 6vh;
}
#navbar{
    margin-bottom: 0!important;
    padding: 0;
    padding-top: 0.5%;
    background-color: #351C5C;
    margin: 0;
}
#navbarScroll{
    background-color: #fff;
    color: #170039;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}
#nav_tabs{
    align-items: center;
    margin-left: 5%;
}
#nav-contactBTN{
    /* align-self: center; */
    color: #170039;
    background-color: white;
    border-radius: 5%;
    height: 40px;
    /* padding: 5px 10px; */
    color: black;
}

.active{
    color: rgb(255, 128, 255) !important;
}

.navbar-dark #nav-toggle{
    border: 2px solid rgba(255,255,255,0.5);
}
.navbar-white #nav-toggle{
    border: 2px solid rgba(0,0,0,0.5);
}
#nav-toggle:focus,#nav-toggle:active {
    outline: none !important;
    box-shadow: none;
 }