@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
  /* font-family: 'Amiri', serif; */
  
  @import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
  /*font-family: 'Droid Arabic Naskh', serif;*/
  
  @import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
  /* font-family: 'Lateef', serif; */
  
  @import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
  /*font-family: 'Scheherazade', serif;*/
  
  @import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
  /* font-family: 'Thabit', serif; */
  @font-face {
    font-family: 'GESSTwoLight-Light';
    src: url("../public/Fonts/GESSTwoLight-Light.ttf") format("truetype");
}
html[dir="rtl"] #menu {
  float: right;
  
}

body{
  font-family:  GESSTwoLight-Light, serif;
  /* font-size:50px; */
}

:lang(ar) {
  font-family:  'GESSTwoLight-Light', serif;
}

#myframe {
  width: 100%;
  height: 650px;
  object-fit: cover;
  z-index: -100;
}


#contact-header{
  width: 100%;
}

#contact-header img{
  width: 100%;
}


#contact-div{
  background-image: url("../public/Images/Aqaba.jpg");
  background-size:cover;
  height: 100vh;
  
}
#Contact-text{
  background-color: rgba(255,255,255, 0.9);
  margin: auto;
  position: relative;
  border-radius:20px;
}

#Contact-text hr{
  margin: 0;
}
#Contact-text h1,h4{
  padding: 3%;
  text-align: center;
}
#Contact-text h4{
  align-self: flex-end;
}
#Contact-text div{
  padding: 1%;
  display: flex;
  gap: 5%;

}

#Contact-text div a{

  width: 30%;
  color: black;
  text-decoration: none;
  text-align: center;
}

#social-accounts-contact{
  gap: 5%;
  margin-bottom: 5vh;
}

#social-accounts-contact div{
  background-color: #e1dae2;
  border-radius: 20px;
  padding: 5%;
}

#social-accounts-contact div a{
  text-decoration: none;
  color: black;
  font-size: 40px;
}
.image-stack {
  position: relative;
  max-width:670px;
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-bottom: 15%;
}

.image-stack-text{
  margin-top:8%;
}

.image-left {
  position: relative;
  max-width:50%;
  top: 0;
  left: 0%;
  z-index: 1;
}

.image-left-middle {
  position: relative;
  max-width:75%;
  top: 0;
  left: 0%;
  z-index: 1;
}

.image-left-last {
  position: relative;
  max-width:75%;
  top: 0;
  left: 0%;
  z-index: 1;
}
.image-right {
  position: absolute;
  max-width:50%;
  top: 50%;
  left: 30%;
  z-index: 3;
}

.image-right-middle {
  position: absolute;
  max-width:100%;
  top: 50%;
  left: 30%;
  z-index: 3;
}

.image-right-last {
  position: absolute;
  max-width:75%;
  top: 50%;
  left: 0%;
  z-index: 3;
}
.title-text {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.title-text span { 
   background:#fff; 
   padding:0 10px; 
}
.arr{
  margin: 20px auto;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  animation : down 1.5s linear infinite; 
}
.up{
  margin: 20px auto;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  animation : down 1.5s linear infinite; 
  z-index: 99;
}
.resize{
  animation : resize 1.5s linear infinite; 
  z-index: 99;
}

@keyframes down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30%);
  }
}
@keyframes up {
  0%, 100% {
      transform: translateY(30%);
  }
  50% {
      transform: translateY(0%);
  }
}
@keyframes resize {
  0%, 100% {
      padding: 15px;
  }
  50% {
      padding: 10px;
    }
}